<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.aeurope.mapper.ForgotPasswordMapper">

	<!-- 插入email驗證碼資料 -->
	<!-- Integer insertForgotPassword(ForgotPassword forgortPassword); -->
	<insert id="insertForgotPassword" useGeneratedKeys="true" keyProperty="verifyId">
		INSERT INTO
			t_forgot_password
		(
			client_email, validata_code,
			expired_time		
		)VALUES (
			#{clientEmail}, #{validataCode},
			#{expiredTime} 
		)
	</insert>
	
	
	<!-- 更改驗證碼效期為失效 -->
	<!-- Integer updateExpiredTime(@Param("verifyId") Integer verifyId, @Param("expiredTime") Date expiredTime); -->
	<update id="updateExpiredTime">
		UPDATE t_forgot_password 
		SET 
		  expired_time=#{expiredTime}
		WHERE 
		  verify_id=#{verifyId}		
	</update>

	<!--查詢忘記密碼表email對應的最新一條數據-->
	<!-- ForgotPassword selectByClientEmail(String clientEmail); -->
	<select id="selectByClientEmail" resultType="cn.tedu.aeurope.entity.ForgotPassword">
		SELECT
			verify_id AS verifyId,
			client_email AS clientEmail,
			validata_code AS validataCode,
			expired_time AS expiredTime
		FROM t_forgot_password
		WHERE client_email = #{clientEmail}
		ORDER BY expired_time DESC 
		 LIMIT 1
	</select>

</mapper>