<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.aeurope.mapper.OrderMapper">


	<!-- 生成訂單資料表 -->
	<!-- Integer insertScartOrder(ScartOrder scartOrder); -->
	<insert id="insertScartOrder" useGeneratedKeys="true" keyProperty="orderid">
		INSERT INTO t_scart_order
		(
			client_id, hid, daysid, 
			personid, flightsid_list, hotel_append, 
			days_append, person_append, flights_append, 
			other_append, created_user, created_time, 
			modified_user, modified_time, order_status
		) VALUES(
			#{clientId}, #{hid}, #{daysid}, 
			#{personid}, #{flightsidList}, #{hotelAppend}, 
			#{daysAppend}, #{personAppend}, #{flightsAppend}, 
			#{otherAppend}, #{createdUser}, #{createdTime}, 
			#{modifiedUser}, #{modifiedTime}, #{orderStatus}
		)
	</insert>

	<!-- 生成訂單資料表—之景點明細 -->
	<!-- Integer insertScenicOrder(List<ScenicOrder> scenicOrders) -->
	<insert id="insertScenicOrder" useGeneratedKeys="true" keyProperty="scenicOrderId">
	INSERT INTO
		t_scenic_order
	(
		orderid, sid, 
		tname, scenic,
		sticket, 	scode, 
		hotel_weights, bus_weights		
	)
	VALUES
	<foreach collection="list" item="ScenicOrder" index="index" separator=",">
	(
		#{ScenicOrder.orderid}, #{ScenicOrder.sid}, 
		#{ScenicOrder.tname},
		#{ScenicOrder.scenic}, #{ScenicOrder.sticket}, 
		#{ScenicOrder.scode}, #{ScenicOrder.hotelWeights},
		#{ScenicOrder.busWeights}		
	)
	</foreach>
	</insert>

	<!--  修改訂單狀態（標識為已刪除99，已付款2，已反饋3, 已出團9） -->
	<!--Integer updateOrderStatusByid(@Param("orderid") Integer orderid, @Param("orderStatus") Integer orderStatus); -->
	<update id="updateOrderStatusByid">
	UPDATE t_scart_order
	SET order_status=#{orderStatus}
	WHERE orderid=#{orderid}
	</update>	
	
	<!-- 查詢訂單明細表，生成訂單明細VO類 -->
	<!-- List<OrderVO> selectOrderList(Integer clientId); -->
	<select id="selectOrderList" resultType="cn.tedu.aeurope.vo.OrderVO">
		SELECT
			orderid, order_status AS orderStatus, 
			hid, daysid, 
			personid, flightsid_list AS flightsidList, 
			hotel_append AS hotelAppend, days_append AS daysAppend, 
			person_append AS personAppend, flights_append AS flightsAppend, 
			other_append AS otherAppend, created_time AS createdTime
		FROM 
			t_scart_order
		WHERE
			client_id=#{clientId}  AND order_status != 99
		ORDER BY 
			modified_time DESC	
	</select>
		
	<!-- 依據orderid查詢訂單明細表，生成訂單明細VO類 -->
	<!-- OrderVO selectOrderVOById(Integer orderid); -->
	<select id="selectOrderVOById" resultType="cn.tedu.aeurope.vo.OrderVO">
		SELECT
			orderid, order_status AS orderStatus, 
			hid, daysid, 
			personid, flightsid_list AS flightsidList, 
			hotel_append AS hotelAppend, days_append AS daysAppend, 
			person_append AS personAppend, flights_append AS flightsAppend, 
			other_append AS otherAppend, created_time AS createdTime,
			client_email AS clientEmail
		FROM 
			t_scart_order
		WHERE
			orderid=#{orderid}
	</select>
	
	<!-- 查詢訂單資料表—之景點明細，生成TownVO類 -->
	<!-- List<TownVO> selectSidsFromScenicOrder(Integer orderid); -->
	<select id="selectSidsFromScenicOrder" resultType="cn.tedu.aeurope.vo.TownVO">
		SELECT ctname,
		GROUP_CONCAT(DISTINCT t_scenic_order.tname
	 			ORDER BY tpriority DESC SEPARATOR ',') 
	 			AS tnames
		FROM t_scenic_order
		LEFT JOIN t_scenic
		ON t_scenic_order.sid=t_scenic.sid
		WHERE  t_scenic_order.scode like "%00000%" and orderid=#{orderid}
		GROUP BY ctname
		ORDER BY t_scenic_order.scode;
	</select>		
	
	<!-- 查詢訂單資料表中訂單id的clientid -->
	<!-- Integer selectClientidByOrderid(Integer orderid); -->
	<select id="selectClientidByOrderid" resultType="java.lang.Integer">
		SELECT 
			client_id AS clientId
		FROM t_scart_order
		WHERE orderid=#{orderid}
	</select>
	
</mapper>